.sidebar-item p b {
   color:#fff;
}

.my-face{
  background: url('assets/aman-profile.jpg') no-repeat;
  width:300px;
  height:300px;
  border-radius: 50%;
  margin: 0 auto;
  margin-right: 250px;
}

.my-home-face{
  background: url('assets/aman.jpg') no-repeat;
  background-size: 500px;
  width:300px;
  height:300px;
  background-position: center;
  border-radius: 10%;
  margin: 0 auto;
  margin-right: 250px;
}

.options-img {
   background: url('./assets/options.png') no-repeat;
}
/**
* Loader
*/

@keyframes pulse {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

body {
  margin: 0;
}

.loader {
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ldr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto 50px;
  width: 2.5em;
  height: 2.5em;
}

.ldr-blk {
  height: 35%;
  width: 35%;
  animation: pulse 0.75s ease-in infinite alternate;
  background-color: #1db7a9;
}

.an_delay {
  animation-delay: 0.75s;
}

/**
* Clients on Home Page
*/

ul.clients {
   margin:0;
   padding:0;
}

ul.clients li {
   list-style:none;
   float:left;
   margin:1em 1.6em 1em 0em;
   height:70px;
   text-indent:-5000px;
   box-shadow:1px 1px 1px #ccc;
}

ul.clients li.duke-logo {
   background: url('assets/duke-logo.png') no-repeat;
   width:180px;
   height:180px;
}

ul.clients li.medsender-logo {
   background: url('assets/medsender-logo.jpg') no-repeat;
   width:180px;
   height:180px;
}

ul.clients li.cisco-logo {
   background: url('assets/cisco-logo.jpg') no-repeat;
   width:180px;
   height:177px;
}

ul.clients li.heroku-logo {
   background: url('./assets/heroku.png') no-repeat;
   width:180px;
   height:177px;
}

ul.clients li.salesforce-logo {
   background: url('./assets/salesforce.png') no-repeat;
   width:180px;
   height:177px;
}
/**
* Skill Boxes on Home Page
*/

.skill-item {
   float:left;
   margin: 0 3.5em 2em 0;
   font-size:0.8em;
}

.skill-item h4 {
   font-size:20px;
   font-weight:bold;
}

.posts em b {
   font-weight:bold;
   margin-right:5px;
   margin-left:-5px;
   text-shadow:1px 1px 1px #666;
}

.skill-item ul{
   list-style:none;
   padding-left:0;
   font-size:16px;
}

.skill-item ul li {
   display:inline-block;
   float:left;
   clear:both;
}

.skill-item ul ul {
   padding-left:2em;
}

.skill-item ul li em {
   background: #1db7a9;
   display:inline-block;
   float:left;
   color:#fff;
   padding:0.2em 1em 0.2em;
   margin:0.2em;
   clear:both;
   font-style:normal;
   box-shadow:1px 1px 1px #ccc;
}

.skill-item ul ul li em {
   background: #d9ead3;
   color: #1db7a9;
}

.exclaimation {
   clear:both;
   font-size:14px;
}

/**
* Banner
*/

.contact-banner {
  background:#1db7a9;
  color:#d9ead3;
  text-align:center;
}

.contact-banner p {
  padding:20px;
}

.contact-banner p em {
    color:#fff;
    font-weight:bold;
    font-style:normal;
}
